.category-cell {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: var(--blue);
  height: 70px;
  width: 130px;
  margin-bottom: 4px;
  cursor: pointer;
  border-radius: 5px;
}
