.player {
  display: flex;
  flex-direction: column;
  border: 5px solid black;
  width: 32%;
}

.player-score {
  text-align: center;
  background-color: var(--blue);
  padding: 10px;
  border: 1px solid black;
  margin: 2px;
}

.player-name {
  text-align: center;
  background-color: var(--blue);
  padding: 10px;
  color: white;
  size: 18px;
  font-family: Arial, Helvetica, sans-serif;
  border: 1px solid black;
  margin: 2px;
}
