.gamespace {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.board {
  display: flex;
  flex-direction: row;
  border: 5px solid black;
  padding-right: 1px;
  padding-left: 1px;
  width: 90%;
  justify-content: space-between;
  background-color: black;
  margin: auto;
}

.scoreboard {
  display: flex;
  flex-direction: row;
}
