.guess-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 10px;
}

.guess-form input {
  width: 100%;
  padding: 10px;
  font-size: 24px;
  border-radius: 5px;
  margin: 10px;
}

.guess-form button {
  padding: 10px;
  font-size: 24px;
  border-radius: 5px;
  border: 1px solid black;
  box-shadow: 0 0 5px black;
  background-color: var(--blue);
  cursor: pointer;
}

.guess-form button:hover {
  box-shadow: 0 0 5px 5px black;
}
