.end-game {
  width: 855px;
  height: 447px;
  border: 10px solid black;
  background-color: var(--blue);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 20px;
}