* {
  box-sizing: border-box;
}

footer {
  font-size: 10px;
  display: flex;
  flex-direction: column;
  text-align: center;
}

.app {
  min-height: 95vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

