.gamespace {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.board {
  display: flex;
  flex-direction: row;
  border: 10px solid black;
  padding-right: 1px;
  padding-left: 1px;
  width: 825px;
  height: 447px;
  justify-content: space-between;
  background-color: black;
  margin: auto;
}

.scoreboard {
  display: flex;
  flex-direction: row;
  width: 50%;
  justify-content: space-evenly;
  padding: 10px;
}
