.welcome {
  display: flex;
  flex-direction: column;
  min-width: 70%;
  padding: 60px 0px;
}

.welcome--message {
  margin-bottom: 20px;
  color: white;
  text-align: center;
}

.welcome--options {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.welcome--option {
  border: 2px solid black;
  background-color: var(--blue);
  text-align: center;
  padding: 20px;
  width: 40%;
  cursor: pointer;
  border-radius: 5px;
}