:root {
  --blue: #060CE9;
  --yellow: #FFD700;
  font-family: Arial, Helvetica, sans-serif;
}

* {
  box-sizing: border-box;
}

h1 {
  color: var(--yellow);
  text-shadow: 3px 3px black;
  font-weight: 700;
  font-size: 40px;
  padding: 0px;
  margin: 0px;
}

h2 {
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  color: white;
  font-weight: 700;
  font-size: 16px;
  padding: 0px;
  margin: 0px;
}

h3 {
  color: var(--yellow);
  text-shadow: 3px 3px black;
  font-weight: 700;
  font-size: 24px;
  padding: 0px;
  margin: 0px;
}

h4 {
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  color: white;
  font-weight: 700;
  font-size: 24px;
  padding: 0px;
  margin: 0px;
}

.homepage {
  display: flex;
  flex-direction: column;
  background-color: rgb(0, 0, 0, .3);
  border-radius: 5px;
}

.page-title {
  text-align: center;
  padding: 10px;
}

.game {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  padding: 10px;
}

.footnote {
  font-size: 10px;
  padding: 10px;
  color: white;
  text-align: center;
}
